<html>
<head>
<title>doc</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
<h1>doc</h1>
<br/>
<table border="1">
<tr><th>Method</th><th>Path</th><th>Params</th><th>Desc</th></tr>
<tr><td>GET</td><td>/users</td><td>&nbsp;</td><td>Users 一覧</td></tr>
<tr><td>GET</td><td>/user</td><td>id</td><td>指定の User 取得</td></tr>
<tr><td>POST</td><td>/user</td><td>id<br/>name<br/>password<br/>email</td><td>User 作成／更新</td></tr>
<tr><td>DELETE</td><td>/user</td><td>id</td><td>指定の User 削除</td></tr>
<tr><td>GET</td><td>/items</td><td>&nbsp;</td><td>Items 一覧</td></tr>
<tr><td>GET</td><td>/item</td><td>id</td><td>指定の Item 取得</td></tr>
<tr><td>POST</td><td>/item</td><td>id<br/>userId<br/>name<br/>category<br/>price<br/>desc<br/>imageUrl</td><td>Item 作成／更新</td></tr>
<tr><td>DELETE</td><td>/item</td><td>id</td><td>指定の Item 削除</td></tr>
<tr><td>GET</td><td>/queryItemsByCategory</td><td>category</td><td>指定カテゴリー名称の Item を検索</td></tr>
</table>
</body>
</html>

